# FastAPI + 서버 관련
fastapi==0.110.0
uvicorn[standard]==0.34.0
gunicorn==21.2.0

# LangChain & LangGraph 관련
langchain==0.3.19
langchain-core==0.3.49
langchain-community==0.3.18
langchain-openai==0.3.7
langchain-google-genai==2.1.2
langgraph==0.3.0
langgraph-sdk==0.1.53
langgraph-checkpoint==2.0.16
langgraph-prebuilt==0.1.0
langgraph-supervisor==0.0.4
langgraph-swarm==0.0.3
langsmith==0.3.11
openai==1.64.0

# 기본 유틸
python-dotenv==1.0.1
httpx==0.28.1
requests==2.32.3
tqdm==4.67.1
pydantic==2.10.6
pydantic-core==2.27.2
SQLAlchemy==2.0.38
aiofiles==24.1.0
